<div class="alert fade in alert-info alert-block">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h4>Getting Started</h4>
	Welcome to SketchMerge! It looks like you do not have any available times yet.  To mark your 
	availability just click on the calendar below, times can be dragged and resized just like 
	Google Calendar!
</div>