<div class="alert fade in alert-info alert-block">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h4>Getting Started</h4>
	Welcome to SketchMerge! This area is where your merges are listed.  A merge is another user
	who you wish to meet with.  When you add a merge using the field below it will be listed here with a checkbox.  Clicking that checkbox will show the times in which both of you are available to meet (this can be done with as many users as desired!).
</div>