// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1#intro{
background-color: 
rgba(0, 0, 0, 0);
color: 
rgb(51, 51, 51);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 50px;
font-weight: bold;
height: 144px;
line-height: 72px;
margin-bottom: 150px;
margin-left:auto;
margin-right:auto;
margin-top: 10px;
text-align: center;
text-rendering: optimizelegibility;
width: 700px;
}

p#leaddesc{
text-rendering: optimizelegibility;
text-align: center;
margin-left:auto;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
width: 700px;
padding-top:10px;
margin-right:auto;
display:block;
}
div#add_user_div{
  left: 50%;
}