<div class="masthead">
<% if current_user %>
  <ul class="nav nav-pills pull-right">
    <%= active_link_to "Dashboard", user_root_path,:wrap_tag => :li%>
    <%= active_link_to "Logout", destroy_user_session_path ,:wrap_tag => :li%>
    <%= active_link_to "Edit Profile", edit_user_registration_path,:wrap_tag => :li%>
  </ul>
<% end %>
<h3 class="muted">SketchMerge  
	<% if current_user %>
	<small>(Logged in as '<%=current_user.username%>')</small>
	<% end %>
</h3>
</div>
<hr>
